.together {
    height: 600px;
    background-image: url(../images/index/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.together {
    color: white;
    position: relative;
}

.absolute-position {
    position: absolute;
    width: 60%;
    height: 100px;
    top: 30%;
    left: 20%;
    text-align: center;
    font-size: xx-large;
}

.absolute-position h2 {
    margin-bottom: 12px;
}

.whiteroundbtn {
    border: 1px solid white;
    background-color: white;
    height: 25px;
    border-radius: 25px;
    font-size: x-small;
    width: 80px;
}

.blackroundbtn {
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 25px;
    border-radius: 25px;
    font-size: x-small;
    width: 80px;
}

.mobile {
    position: relative;
    height: 620px;
    text-align: center;
    margin: 0 20px;
    background-image: url(../images/index/Home_Galaxy-S21.jpg);
    background-size: 611px;
    background-position: center;
    background-repeat: no-repeat;

}

.mobile-top {
    position: absolute;
    top: 7%;
    left: 25.5%;
    width: 45%;
    text-align: center;
    font-weight: bold;
}

.mobile-bottom {
    position: absolute;
    top: 80%;
    left: 43%;
    text-align: center;
}

.mobile-bottom h2 {
    margin: 4px 2px;
}

.mobile-bottom p {
    margin: 4px 2px;
    color: gray;
    font-size: xx-small;
}

.tv-av {
    position: relative;
    height: 700px;
    text-align: center;
    background-image: url(../images/index/TV_HOME.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tv-av-top {
    position: absolute;
    top: 4%;
    left: 25.5%;
    width: 45%;
    text-align: center;
    font-weight: bold;
    color: white;
}

.tv-av-bottom {
    position: absolute;
    top: 81%;
    left: 35%;
    text-align: center;
    color: white;
}

.underline-white {
    text-decoration: underline;
    color: white;
}

.underline-black {
        text-decoration: underline;
        color: black;
}

.tv-av-bottom a {
    font-size: x-small;
}

.home-app {
    position: relative;
    height: 600px;
    text-align: center;
    background-image: url(../images/index/home_appliances.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;
}

.home-app-top {
    position: absolute;
    top: 4%;
    left: 25.5%;
    width: 45%;
    text-align: center;
    font-weight: bold;
    color: white;
}

.home-app-bottom {
    position: absolute;
    top: 72%;
    left: 41%;
    text-align: center;
    color: white;
}

.home-app-top ul {
    font-size: small;
}

.home-app-top h2 {
    margin-bottom: 7px;
}

.month-pick {
    position: relative;
    height: 600px;
}

.month-pick-top {
    /* position: absolute; */
    margin: 50px 570px 10px;
    text-align: center;
}

.month-pick-middle {
    display: flex;
    height: 400px;
    justify-content: space-between;
}

.col-1 {
    flex: 50%;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    border-radius: 10px;
    width: 50%;
    margin: 0px 14px 0px 14px;
    text-align: center;
    height: 500px;
}

.col-2 {
  display: flex; 
  justify-content: space-between;
  width: 50%;
  margin-left: 7px;
}

.col-2-1 {
    flex: 25%;
    width: 25%;
    text-align: center;
    height: 500px;
}

.col-2-2 {
    flex: 25%;
    text-align: center;
    height: 500px;
}

.col-2-2-1, .col-2-1-1  {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    border-radius: 10px;
    margin: 0px 14px 7px 0px;
    padding-top: 10px;
    height: 232px;
}

.col-2-1-2, .col-2-2-2 {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    border-radius: 10px;
    margin: 14px 14px 0px 0px;
    padding-top: 10px; 
    height: 232px;  
}

.col-2-2-2 img {
    height: 160px;
}

.col-2-1-2 img {
    height: 130px;
}

.explore h2 {
    text-align: center;
    margin: 70px ;
}
.explore-bottom {
    display: flex;
}

.explore-pics img {
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
}

.space-list {
    line-height: 5;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    letter-spacing: 4px;
    margin-top: 200px;
}

.searchbar {
    width: 25%;
    height: 60px;
    /* text-align: center; */
    border: 1px solid black;
}

/* .search-img {
    width: 15px;
    border: 2px solid white;
    background-color: rgb(247, 247, 247);
    height: 24px;
    
}
.search-input {
    border: 2px solid white;
    background-color: rgb(247, 247, 247);
    border-left: 0px;
    height: 12px;
    border-radius: 5px;
    margin-left: -5px;
    line-height: 5;
} */

.search-img {
    width: 25px;
    padding: 10px;
    /* background: #2196F3; */
    color: white;
    font-size: 11px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-right: 0px;
    border: 0px;
}

.search-input {
    padding: 17px;
    font-size: 11px;
    border: 1px solid grey;
    width: 230px;
    background: #f1f1f1;
    margin-top: none;
    margin-left: -6px;
    border-left: none;
}

.footer-1 {
    height: 10px;
    padding: 15px 0px 0px 15px;
    border: 1px solid rgb(247, 247, 247);
    line-height: 5;
    border-left: 0px;
    border-right: 0px;
    font-size: x-small;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(247, 247, 247);
    line-height: 2;
    height: 40px;
}

.footer-2-1 {
    
    padding-right: 400px;
}

.footer-2-1 ul {
    margin-left: -22px;
}

.footer-2-1 li {
    margin-right: 15px;
}

.footer-2-2 {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    margin-right: 15px;
    padding-top: 10px;    
} 

.footer-2-2 p {
    margin-top: 1px;
    margin-right: 10px;
}

.footer-2-2 img {
    width: 15px;
    height: 15px;
    margin-right: 7px;
    margin-top: 4px;
}